@page "/"
@rendermode InteractiveServer

<PageTitle>Cat Fact</PageTitle>

<div class="centered-content">
    <div class="title-section">
        <h3>Random Cat Fact</h3>
    </div>
    <div class="fact-container">
        <button class="btn" @onclick="@(() => GetNewCatFact())">Get New Fact</button>
        <p>@(_catFact ?? "Click the button to get a new fact!")</p>
    </div>
</div>
